@use "../../../scss/utils/const" as *;

.removeProject {
  width: 100%;
  padding: 3rem 4rem 6rem;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  
  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  
  .text {
    font-size: 1.6rem;
    line-height: $lh-142;
    
    p {
      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }
  }
  
  .actions {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  
  .button {
    width: 100%;
    min-height: 4.6rem;
  }
}