@use '../utils/const';

.breadcrumbs {
  width: 100%;

  &__list {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;

    svg {
      width: 1.8rem;
      height: 1.8rem;
    }

    li {
      white-space: nowrap;

      a,
      span {
        display: inline-block;
      }
    }
  }
}
