@use '../utils/const';

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 1.2rem;
  min-height: 4.8rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 1;
  gap: 1rem;
  padding: 0.6rem 1.6rem;
  font-weight: const.$fw-normal;
  transition:
    background-color const.$transition-time,
    color const.$transition-time,
    border-color const.$transition-time,
    opacity const.$transition-time;

  span {
    transition: color const.$transition-time;
  }

  &--black {
    background: var(--app-button-primary);
    color: var(--app-button-text);

    @media (hover: hover) {
      &:hover {
        background: var(--app-button-primary-hover);
      }
    }

    &:active {
      background: var(--app-button-primary-hover);
    }
  }

  &--clear {
    border-radius: 0;
    background: transparent;
    text-transform: capitalize;
    line-height: 1;
    padding: 0;
    letter-spacing: 0;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
