@use "../utils/const" as *;

.rdp-root {
  user-select: none;
  
  .rdp-month_caption {
    font-size: 1.4rem;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
  }
  
  .rdp-nav {
    width: 100%;
    height: 4rem;
    justify-content: space-between;
  }
  
  .rdp-month_grid {
    font-size: 1.2rem;
    line-height: 1;
  }
  
  .rdp-weeks {
    border-top: 1px solid var(--color-border-strong);
    padding-top: 1.2rem;
  }
  
  .rdp-weekday {
    padding: 1rem 0;
  }
  
  .rdp-week {
    .rdp-day {
      width: 3.2rem;
      height: 3.2rem;
      
      @media (hover: hover) {
        &:hover {
          .rdp-day_button {
            font-size: 1.2rem;
            border-color: var(--color-primary);
          }
        }
      }
      
      &.rdp-today {
        color: var(--color-static-white);
        position: relative;
        
        &::before {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 2.2rem;
          height: 2.2rem;
          background-color: var(--color-red);
          z-index: 0;
          border-radius: 50%;
        }
      }
      
      &.rdp-selected {
        pointer-events: none;
        color: var(--color-static-white);
        
        .rdp-day_button {
          font-size: 1.2rem;
          border-radius: .4rem;
          background-color: var(--color-primary);
          border-color: var(--color-primary);
        }
      }
      
      &.rdp-disabled {
        pointer-events: none;
      }
      
      .rdp-day_button {
        width: 3.2rem;
        height: 3.2rem;
        transition: border-color $transition-time, background-color $transition-time;
      }
    }
  }
}