@use '../utils/const';
@use '../utils/mixin' as *;

.es-select {
  position: relative;
  display: inline-flex;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    right: 1.2rem;
    top: 1.2rem;
    width: 2.4rem;
    height: 2.4rem;
    background-image: url('../img/icons/select-chevron.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2.1rem;
    z-index: 1;
    transition: all 0.5s;
    pointer-events: none;
    transform: rotateX(0deg);
  }

  @media (hover: hover) {
    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }

  &__name {
    width: 100%;
    height: 4.8rem;
    border-radius: 0.8rem;
    border: 0.1rem solid var(--app-border-default);
    color: var(--app-text-default);
    font-size: 1.6rem;
    font-weight: const.$fw-light;
    line-height: 4.5rem;
    padding: 0 40px 0 1.5rem;
    transition: all 0.3s;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    display: block;
    max-width: 30rem;
    background: var(--app-bg-default);
    @include mediaMax(t) {
      max-width: 100%;
    }

    &.selected {
    }

    &:hover {
      border: 1px solid var(--app-border-strong);
    }

    img {
      width: 1.6rem;
      height: 1.6rem;
      object-fit: cover;
      margin-right: 12px;
      vertical-align: text-bottom;
    }
  }

  &__options {
    position: absolute;
    top: 95%;
    width: 30rem;
    height: auto;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    padding: 0.8rem;
    border: 0.1rem solid var(--app-border-strong);
    background: var(--app-bg-default);
    border-radius: 0.8rem;
    pointer-events: none;
    transform: translateY(15px);
    transition:
      transform 0.2s,
      opacity 0.2s 0.1s,
      visibility 0.2s 0.1s,
      border-radius 0.3s;
    margin-top: 0.4rem;
    @include mediaMax(t) {
      width: 100%;
    }

    .options-left & {
      left: 0;
    }

    .options-right & {
      right: 0;
    }

    &-wrap {
      display: flex;
      flex-flow: column;
      gap: 0.8rem;
      max-height: 15rem;
      overflow-y: auto;
      padding-right: 0.5rem;
      margin-top: 0.4rem;

      .select-item {
        padding: 0.6rem 3rem;
        transition: all 0.5s;
        font-size: 1.6rem;
        font-style: normal;
        line-height: 140%;
        color: var(--app-text-default);
        display: flex;
        align-items: center;
        gap: 12px;
        cursor: pointer;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          height: 1px;
          left: 0;
          bottom: -0.4rem;
          width: 100%;
        }

        &::after {
          content: '';
          position: absolute;
          background-color: var(--app-gray-500);
          border-radius: 0.8rem;
          height: 100%;
          left: 0;
          opacity: 0;
          top: 0;
          width: 100%;
          transition: opacity const.$transition-time;
        }

        &:not(:last-of-type) {
          &::before {
            background-color: var(--app-border-default);
          }
        }

        &:nth-of-type(1) {
          display: none;
        }

        img {
          border-radius: 50%;
          width: 24px;
          height: 24px;
          object-fit: cover;
        }

        &.active {
          &::after {
            opacity: 0.06;
          }
        }

        &.found {
          &::after {
            opacity: 0.06;
          }
        }

        &.hidden {
          display: none;
        }

        &:hover {
          &::after {
            opacity: 0.14;
          }
        }
      }
    }
  }

  &__options-wrap {
    .select-item {
      padding: 12px 8px;
    }
  }

  &__search {
    position: relative;
    margin: 0 0.4rem 0;
    box-shadow: 0 0.4rem 0.4rem rgb(0, 0, 0, 0.025);
    &:before {
      content: '';
      width: 1.6rem;
      height: 1.6rem;
      position: absolute;
      background-image: url('../img/icons/select-search.svg');
      background-size: 1.8rem;
      background-repeat: no-repeat;
      background-position: center;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      opacity: 0.98;
    }

    input {
      font-size: 1.5rem;
      line-height: 100%;
      width: 100%;
      background: transparent;
      height: 4.8rem;
      padding: 1.3rem 3rem 1.3rem 0;
      border-radius: 0;
      border: 0;
      border-bottom: 1px solid var(--app-border-default);
      outline: none;
      font-weight: const.$fw-light;
      &::placeholder {
        color: var(--text-gray-500);
      }
    }
  }

  &.open {
    z-index: 5;

    &::before {
      transform: rotateX(180deg);
      opacity: 1;
    }

    .es-select {
      &__options {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        pointer-events: auto;
        transition:
          transform 0.2s 0.1s,
          opacity 0.2s,
          visibility 0.2s;
      }

      &__name {
        border-color: var(--app-text-default);
      }
    }
  }
}

.enhanced-select {
  display: none;
}
