@use '../utils/const';
@use '../utils/mixin' as *;

.modal {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  @include vh-height(h);
  @include vh-height(max);
  background-color: rgba(13, 13, 13, 0.35);
  backdrop-filter: blur(3px);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity const.$transition-time,
    visibility const.$transition-time,
    transform const.$transition-time,
    top const.$transition-time const.$transition-time;
  overflow: hidden;
  @include mediaMax(pm) {
    align-items: flex-end;
    padding: 0;
  }

  &.open {
    top: 0;
    z-index: 9999;
    opacity: 1;
    pointer-events: auto;
    transition:
      opacity const.$transition-time,
      visibility const.$transition-time,
      transform const.$transition-time;

    .modal__window {
      transform: translateY(0);
    }
  }

  &__window {
    background: var(--app-bg-default);
    width: 100%;
    max-width: 72rem;
    padding: 0;
    position: relative;
    @include vh-height(max, 4rem);
    border-radius: 1.2rem;
    transform: translateY(8rem);
    transition: inherit;
    overflow: hidden;
    @include mediaMax(pm) {
      border-radius: 1.2rem 1.2rem 0 0;
      @include vh-height(max, 2rem);
    }
  }

  &__close {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    cursor: pointer;
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.6rem;
    background-color: var(--app-button-close);
    transition: background-color const.$transition-time;
    z-index: 1;

    svg {
      width: 1.8rem;
      height: 1.8rem;
      fill: var(--app-gray-900);
    }

    &:hover {
      background-color: var(--app-button-close-hover);

      &:before {
        filter: brightness(1);
      }
    }
  }

  &__content {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1.6rem;
    @include vh-height(max, 9rem);
    overscroll-behavior: contain;
    color: var(--app-text-default);
    @include mediaMax(pm) {
      @include vh-height(max, 6rem);
      padding-bottom: 8rem;
    }
  }

  &__title {
    font-size: 1.6rem;
    font-weight: const.$fw-semiBold;
    color: var(--app-text-default);
    min-height: 4.8rem;
    padding: 1.4rem 5rem 1.4rem 1.6rem;
    border-bottom: 1px solid var(--app-border-default);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }
}
