.tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .tab-list {
    width: 100%;
    display: flex;
    gap: 1rem;

    .tab {
      display: inline-flex;
      align-items: center;
      min-height: 3.6rem;
      cursor: pointer;
      user-select: none;
      border-bottom: 1px solid var(--app-border-default);

      &.active {
        border-color: var(--app-border-strong);
      }

      @media (hover: hover) {
        &:hover {
          border-color: var(--app-border-strong);
        }
      }

      &:active {
        border-color: var(--app-border-strong);
      }
    }
  }
}
