@use "../../scss/utils/const" as *;

.tooltip {
  background: var(--color-bg-soft) !important;
  color: var(--color-text-primary) !important;
  font-size: 1.2rem !important;
  font-weight: $fw-medium !important;
  padding: .6rem 1rem !important;
  letter-spacing: .325px;
  z-index: 100 !important;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.08) !important;
  
  &.active {
    pointer-events: auto !important;
  }
}

.react-tooltip__show {
  opacity: 1 !important;
}