:root {
  /* Base grayscale palette */
  --color-gray-100: #8E8E93;
  --color-gray-200: #AEAEB2;
  --color-gray-300: #C7C7CC;
  --color-gray-400: #D1D1D6;
  --color-gray-500: #E5E5EA;
  --color-gray-600: #F2F2F7;
  
  --color-red: #FB4543;
  --color-orange: #FB913B;
  --color-yellow: #FBCE38;
  --color-green: #36C662;
  --color-mint: #22C6B3;
  --color-teal: #2AC1CE;
  --color-cyan: #30BEE5;
  --color-blue: #3685FA;
  --color-indigo: #6C51EF;
  --color-purple: #CC34DB;
  --color-pink: #FB3D58;
  --color-brown: #AA8061;
  
  /* === BORDERS === */
  --color-border-default: #E5E5EA;
  --color-border-default-hover: #C7C7CC;
  --color-border-strong: #D1D1D6;
  
  /* === PRIMARY === */
  --color-primary: #3685FA;
  --color-primary-hover: #5DA9FD;
  --color-primary-active: #3685FA;
  
  --color-secondary-hover: #F2F2F7;
  --color-secondary-active: #E5E5EA;
  
  --color-modal-close: #3C3C43;
  
  /* === TEXT === */
  --color-text-primary: #000;
  --color-text-secondary: rgba(60, 60, 67, 0.60);
  --color-text-tertiary: rgba(60, 60, 67, 0.30);
  --color-text-muted: rgba(60, 60, 67, 0.18);
  --color-text-inverse: #ffffff;
  
  /* === BACKGROUND === */
  --color-bg-surface: #FFF;
  --color-bg-subtle: #F2F2F7;
  --color-bg-soft: #F2F2F7;
  --color-bg-inverse: #000;
  
  --color-toast-success-bg: #cdfad8;
  --color-toast-success-text: #038067;
  --color-toast-error-bg: #FFF1F0;
  --color-toast-error-text: #EC0E00;
  --color-toast-warning-bg: #FFF9EB;
  --color-toast-warning-text: #DD6002;
  --color-toast-info-bg: #E5F6FF;
  --color-toast-info-text: #0486CC;
  
  --color-input-default: rgba(60, 60, 67, 0.30);
  --color-input-hover: rgba(60, 60, 67, 0.60);
  --color-input-muted: rgba(60, 60, 67, 0.18);
  
  // STATIC COLORS
  --color-static-white: #ffffff;
  --color-overlay-bg: rgba(0, 0, 0, 0.7);
}

[data-theme="dark"] {
  --color-bg-surface: #1C1C1E;
  --color-bg-subtle: #000;
  --color-bg-soft: #2C2C2E;
  --color-bg-inverse: #fff;
  
  --color-border-default: #2C2C2E;
  --color-border-default-hover: #3A3A3C;
  --color-border-strong: #3A3A3C;
  
  --color-primary: #368EFA;
  --color-primary-hover: #5DA9FD;
  
  --color-secondary-hover: rgba(255, 255, 255, 0.04);
  --color-secondary-active: rgba(255, 255, 255, 0.08);
  
  --color-input-default: rgba(235, 235, 245, 0.30);
  --color-input-hover: rgba(235, 235, 245, 0.60);
  --color-input-muted: rgba(235, 235, 245, 0.18);
  
  --color-modal-close: #EBEBF5;
  
  --color-text-primary: #FFF;
  --color-text-secondary: rgba(235, 235, 245, 0.60);
  --color-text-tertiary: rgba(235, 235, 245, 0.30);
  --color-text-muted: rgba(235, 235, 245, 0.16);
  --color-text-inverse: #000;
  
  --color-gray-100: #8E8E93;
  --color-gray-200: #636366;
  --color-gray-300: #3A3A3C;
  --color-gray-400: #3A3A3C;
  --color-gray-500: #2C2C2E;
  --color-gray-600: #1C1C1E;
  
  --color-red: #FB4D4B;
  --color-orange: #FB9641;
  --color-yellow: #FBD83B;
  --color-green: #32D062;
  --color-mint: #26D8C3;
  --color-teal: #2ED0DE;
  --color-cyan: #50D1FB;
  --color-blue: #368EFA;
  --color-indigo: #7559F9;
  --color-purple: #DC38ED;
  --color-pink: #FB4461;
  --color-brown: #B58B69;
}