:root {
  /* Base grayscale palette */
  --color-gray-100: #F2F2F7;
  --color-gray-200: #E5E7EF;
  --color-gray-300: #E5E5EA;
  --color-gray-400: rgb(60, 60, 67);
  --color-gray-430: rgba(60, 60, 67, 0.30);
  --color-gray-460: rgba(60, 60, 67, 0.60);
  --color-gray-500: #8E8E93;
  --color-green: #36C662;
  --color-orange: #FB913B;
  --color-blue: #3685FA;
  --color-red: #FB4543;
  --color-high: #000;

  /* === BORDERS === */
  --color-border-subtle: var(--color-gray-100);
  --color-border-default: var(--color-gray-200);
  --color-border-strong: var(--color-gray-300);

  /* === PRIMARY === */
  --color-primary: #3685FA;
  --color-primary-hover: #3685FA;

  /* === TEXT === */
  --color-text-high: #000;
  --color-text-high-80: rgba(0, 0, 0, 0.80);
  --color-text-high-20: rgba(0, 0, 0, 0.20);
  --color-text-default: #1d1f3c;
  --color-text-secondary: rgba(60, 60, 67, 1);
  --color-text-secondary-30: rgba(60, 60, 67, 0.30);
  --color-text-secondary-60: rgba(60, 60, 67, 0.60);
  --color-text-muted: #5A5F78;
  --color-text-disabled: #8285a4;
  --color-text-inverse: #ffffff;

  /* === BACKGROUND === */
  --color-bg-surface: #ffffff;
  --color-bg-subtle: #F2F2F7;

  /* === BUTTON === */
  --color-button-primary: var(--color-primary);
  --color-button-primary-hover: var(--color-primary-hover);
  --color-button-text: var(--color-text-inverse);

  --color-button-secondary: var(--color-bg-surface);
  --color-button-secondary-hover: var(--color-bg-subtle);

}