// ---- ~ font-family
$ff-nameOfFort: '';

//font-weight
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semiBold: 600;
$fw-bold: 700;
$fw-extraBold: 800;

$container: 1400px;

//line-height
$lh-100: 100%;
$lh-138: 138.462%;
$lh-145: 145.455%;
$lh-150: 150%;

// ---- ~ transitions
$transition-time: 0.325s;
