@use "../../../scss/utils/const" as *;

.inputAssignee {
    display: inline-flex;
    align-items: center;
    gap: .8rem;
    padding: .8rem 1.2rem;
    cursor: pointer;
    position: relative;

    &_fullname {
        font-size: 1.2rem;
        font-weight: $fw-medium;
        line-height: 1.2;
        color: var(--color-text-high);
        position: relative;
        z-index: 1;
    }

    &_initials {
        font-size: 1rem;
        font-weight: $fw-semiBold;
        line-height: 1.2;
        text-transform: uppercase;
        color: var(--color-text-high);
        border: 1px solid var(--color-border-strong);
        background-color: var(--color-bg-surface);
        border-radius: 50%;
        width: 2.4rem;
        height: 2.4rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
    }

    &_checkmark {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: .4rem;
        border: 1px solid transparent;
        background-color: var(--color-bg-surface);
        transition: border-color $transition-time, background-color $transition-time;
    }

    &:hover {
        .inputAssignee_checkmark {
            border-color: var(--color-border-strong);
        }
    }

    &_input {
        position: absolute;
        left: 0;
        top: -100%;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;

        &:checked~.inputAssignee_checkmark {
            background-color: var(--color-bg-subtle);
        }
    }
}