@use "../../../scss/utils/const" as *;

.inputAssignee {
  display: inline-flex;
  align-items: center;
  gap: .8rem;
  padding: .8rem 1.2rem .8rem 3.6rem;
  cursor: pointer;
  position: relative;
  border-radius: .4rem;
  border: 1px solid var(--color-border-default);
  transition: border-color $transition-time;
  user-select: none;
  
  &_fullname {
    font-size: 1.2rem;
    font-weight: $fw-medium;
    line-height: 1.2;
    color: var(--color-text-primary);
    position: relative;
    z-index: 1;
  }
  
  &_checkmark {
    position: absolute;
    left: 1.2rem;
    top: calc(50% - .8rem);
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    border: 1px solid var(--color-input-default);
    background-color: var(--color-bg-surface);
    transition: border-color $transition-time, background-color $transition-time;
    
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: .6rem;
      height: .6rem;
      border-radius: 50%;
      background-color: var(--color-input-muted);
      transform: translate(-50%, -50%);
      border: 0 solid var(--color-primary-active);
      opacity: 0;
      transition: opacity $transition-time;
      will-change: border, width, height, opacity;
    }
  }
  
  &:hover {
    border-color: var(--color-border-default-hover);
    
    .inputAssignee_checkmark {
      border-color: var(--color-input-hover);
      
      &::before {
        opacity: 1;
      }
    }
  }
  
  &_input {
    position: absolute;
    left: 0;
    top: -100%;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    
    &:checked ~ .inputAssignee_checkmark {
      border-color: var(--color-primary-active);
      
      &::before {
        width: 100%;
        height: 100%;
        background-color: transparent;
        opacity: 1;
        border: 4px solid var(--color-primary-active);
      }
    }
  }
}