@use "../../scss/utils/const" as *;
@use "../../scss/utils/mixin" as *;

.modal {
  position: fixed;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  overscroll-behavior: none;
  
  &::before {
    content: "";
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    transition: none;
    background: var(--color-overlay-bg);
  }
  
  &_wrapper {
    position: relative;
    max-height: 100%;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 0 3rem;
    overscroll-behavior: none;
    
    @include mediaMax(dw) {
      max-height: 100%;
    }
  }
  
  &_inner {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 10rem;
    background: var(--color-bg-surface);
    overscroll-behavior: none;
    margin: 3rem auto;
    border-radius: 1.6rem;
    overflow: hidden;
  }
  
  &_head {
    width: 100%;
    padding: 1.2rem 4.8rem 1.2rem 2rem;
    border-bottom: 1px solid var(--color-border-default);
    font-size: 1.6rem;
    font-weight: $fw-semiBold;
    line-height: $lh-145;
  }
  
  &_close {
    position: absolute;
    right: .8rem;
    top: .3rem;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    z-index: 10;
    
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 1.6px;
      height: 1.6rem;
      top: calc(50% - .8rem);
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--color-modal-close);
      opacity: .6;
      pointer-events: none;
      transition: opacity $transition-time, transform $transition-time;
    }
    
    &::before {
      transform: rotate(45deg);
    }
    
    &::after {
      transform: rotate(-45deg);
    }
    
    &:hover {
      &::before,
      &::after {
        opacity: 1;
      }
      
      &::before {
        transform: rotate(225deg);
      }
      
      &::after {
        transform: rotate(-225deg);
      }
    }
  }
  
  &.is_open {
    top: 0;
    
    &::before {
      opacity: .8;
    }
    
    .modal_inner {
    }
    
    .modal_wrapper {
      
      overscroll-behavior: contain;
    }
  }
  
  &.is_center {
    .modal {
      &_close {
        right: calc(50% - 39.4rem);
        top: 3.3rem;
      }
      
      &_head {
        text-align: center;
      }
      
      &_inner {
        padding: 0;
        display: flex;
        flex-direction: column;
        max-width: 80rem;
        overflow: hidden;
      }
    }
  }
  
  &.is_right {
    .modal {
      &_wrapper {
        padding: 0;
        max-height: 100vh;
        justify-content: flex-end;
      }
      
      &_inner {
        display: flex;
        flex-direction: column;
        max-width: 40rem;
        height: 100vh;
        margin: 0;
        border-radius: 0;
      }
    }
  }
  
  &.is_left {
    .modal {
      &_wrapper {
        padding: 0;
        max-height: 100vh;
        justify-content: flex-start;
      }
      
      &_close {
        left: 52rem;
        top: 2rem;
      }
      
      &_inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 40rem;
        height: 100vh;
        margin: 0;
        border-radius: 0;
      }
    }
  }
  
  &.is_top {
    .modal {
      &_close {
        right: calc((100% - 52rem) / 2);
        top: 7rem;
      }
      
      &_inner {
        display: flex;
        max-width: 40rem;
        overflow: hidden;
      }
    }
  }
  
  &.is_bottom {
    .modal {
      &_close {
        right: calc((100% - 52rem) / 2);
        top: 7rem;
      }
      
      &_inner {
        display: flex;
        max-width: 40rem;
        overflow: hidden;
      }
    }
  }
  
  &.todoList {
    .modal {
      &_inner {
        max-width: 50rem;
      }
      &_head {
        text-align: center;
      }
    }
  }
  
  &.removeProject {
    .modal {
      &_inner {
        max-width: 46rem;
      }
      
      &_close {
        right: calc(50% - 22rem);
      }
    }
  }
  
  &.modalUser {
    .modal_close {
      &::before, &::after {
        background-color: var(--color-static-white);
      }
    }
    
  }
}

.field {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  
  &.field_100 {
    width: 100%;
  }
  
  &.field_66 {
    width: calc(66.667% - .7rem);
  }
  
  &.field_50 {
    width: calc(50% - 1rem);
  }
  
  &.field_33 {
    width: calc(33.333% - 1.4rem);
  }
  
  &_caption {
    font-size: 1.3rem;
    font-weight: $fw-semiBold;
    line-height: $lh-138;
    color: var(--color-text-primary);
  }
  
  &_input {
    width: 100%;
  }
  
  &_color {
    width: 100%;
    display: flex;
    align-items: center;
    gap: .4rem;
    height: 4rem;
  }
  
  &_assignee {
    display: flex;
    align-items: center;
    gap: .8rem;
    flex-wrap: wrap;
  }
  
  &_date {
    display: flex;
    align-items: center;
    gap: .8rem;
    
    button {
      position: relative;
      
      svg {
        stroke: transparent;
        fill: var(--color-input-hover);
      }
    }
    
    &_block {
      position: relative;
      margin-left: 3.2rem;
      
      &::before {
        content: "";
        position: absolute;
        left: -2rem;
        height: 100%;
        width: 1px;
        background-color: var(--color-border-default);
      }
    }
    
    &_picker {
      position: absolute;
      left: 0;
      bottom: 110%;
      background-color: var(--color-static-white);
      border-radius: .8rem;
      padding: .8rem;
      box-shadow: 0 1px 1px -0.5px rgba(0, 0, 0, 0.04), 0 3px 3px -1.5px rgba(0, 0, 0, 0.04), 0 6px 6px -3px rgba(0, 0, 0, 0.04), 0 12px 12px -6px rgba(0, 0, 0, 0.04), 0 0 0 1px rgba(39, 39, 42, 0.10);
      
      [data-theme="dark"] & {
        background-color: var(--color-bg-soft);
      }
    }
    
    .dateAdded {
      background-color: var(--color-primary);
      color: var(--color-static-white);
      
      svg {
        fill: var(--color-static-white);
      }
    }
    
    .dateActive {
      border-color: var(--color-primary);
    }
  }
}