@use "../../../scss/utils/const" as *;
@use "../../../scss/utils/mixin" as *;

.languageSwitcher {
  display: flex;
  align-items: center;
  gap: .6rem;
  position: relative;
  z-index: 1;
  
  .button {
    padding: 0;
    min-height: 3.2rem;
    width: 3.2rem;
    background-color: var(--color-bg-soft);
    border-color: var(--color-border-strong);
    
    @media (hover: hover) {
      &:hover {
        background-color: var(--color-gray-500);
      }
    }
    
    &.active {
      pointer-events: none;
      background-color: var(--color-primary);
      display: none
    }
  }
}