@use "../../../scss/utils/const" as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: .4rem;
  min-height: 4rem;
  font-size: 1.4rem;
  line-height: 1;
  gap: 1rem;
  border: 0;
  padding: 0 2.4rem;
  font-weight: $fw-medium;
  transition: background-color $transition-time,
  color $transition-time,
  border-color $transition-time,
  opacity $transition-time;
  
  span {
    transition: color $transition-time;
  }
  
  &_primary {
    background: var(--color-primary);
    color: var(--color-static-white);
    
    @media (hover: hover) {
      &:hover {
        background: var(--color-primary-hover);
      }
    }
    
    &:active {
      background: var(--color-primary-active);
    }
  }
  
  &_secondary {
    background: transparent;
    color: var(--color-text-primary);
    border: 1px solid var(--color-border-default);
    
    @media (hover: hover) {
      &:hover {
        background: var(--color-secondary-hover);
      }
    }
    
    &:active {
      background: var(--color-secondary-active);
    }
    
    svg {
      fill: none;
      stroke: var(--color-gray-100);
    }
  }
  
  &_clear {
    border-radius: 0;
    background: transparent;
    text-transform: capitalize;
    line-height: 1;
    padding: 0;
    letter-spacing: 0;
  }
  
  &_addProject {
    min-height: 3.2rem;
    padding: 0 1.6rem;
    gap: .4rem;
  }
  
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}