@use "../../../scss/utils/const" as *;
@use "../../../scss/utils/mixin" as *;

.modalSettings {
  width: 100%;
  padding: 2rem;
  overflow-y: auto;
  @include vh-height(max, 12.9rem);
  
  .settingsBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 2.4rem;
    padding-bottom: 2.4rem;
    border-bottom: 1px solid var(--color-border-default);
    
    &:nth-last-child(1) {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
    
    &_title {
      width: 100%;
      font-size: 1.6rem;
      font-weight: $fw-medium;
      line-height: $lh-150;
      color: var(--color-text-primary);
    }
    
    &_filter {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      
      .filterCaption {
        font-size: 1.4rem;
        font-weight: $fw-medium;
        line-height: $lh-145;
      }
      
      .filterList {
        display: flex;
        flex-wrap: wrap;
        gap: .8rem;
      }
    }
  }
}

.modalActions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid var(--color-border-default);
  
  .submit {
    width: 100%;
  }
}