@use "../../scss/utils/const" as *;
@use "../../scss/utils/mixin" as *;

.todoCard {
  width: 100%;
  border-bottom: 1px solid var(--color-border-default);
  
  &:nth-last-child(1) {
    border-bottom: none;
    padding-bottom: 0;
  }
  
  .label {
    display: flex;
    align-items: flex-start;
    gap: .4rem;
  }
  
  .input {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }
  
  .checkmark {
    border-radius: 50%;
    border: 1px solid var(--color-input-default);
  }
  
  .todo {
    display: inline-block;
    font-weight: $fw-medium;
  }
  
  .hasContent {
    width: .8rem;
    height: .8rem;
    fill: var(--color-input-default);
  }
  
  .pin {
    min-height: 1px;
    
    svg {
      pointer-events: none;
      fill: var(--color-input-default);
    }
    
    &_active {
      svg {
        fill: var(--color-primary);
      }
    }
  }
  
  .date {
    font-weight: $fw-medium;
    display: inline-flex;
    align-items: center;
    color: var(--color-text-primary);
    
    &.today {
      svg {
        fill: var(--color-red);
        stroke: var(--color-red);
      }
    }
    
    &.tomorrow {
      svg {
        fill: var(--color-orange);
        stroke: var(--color-orange);
      }
    }
  }
  
  // style for different card sizes
  &.large {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .8rem;
    padding: 1.2rem 0 1.6rem;
    
    .checkmark {
      width: 1.6rem;
      height: 1.6rem;
      margin-top: .2rem;
      margin-right: .8rem;
    }
    
    .hasContent {
      margin-top: .5rem;
    }
    
    .pin {
      margin-top: .5rem;
    }
    
    .todo {
      width: calc(100% - 5rem);
      font-size: 1.4rem;
      line-height: $lh-142;
    }
    
    .date {
      width: auto;
      font-size: 1.2rem;
      line-height: 1;
      font-weight: $fw-medium;
      padding: .2rem .8rem;
      border: 1px solid var(--color-border-default);
      border-radius: .2rem;
      margin-left: 2.8rem;
      display: inline-flex;
      align-items: center;
      gap: .2rem;
      
      svg {
        width: 1.6rem;
        height: 1.6rem;
      }
    }
  }
  
  &.compact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6rem 0;
    
    .label {
      width: calc(100% - 7rem);
      align-items: center;
    }
    
    .checkmark {
      width: 1.2rem;
      height: 1.2rem;
      margin-right: .4rem;
    }
    
    .todo {
      display: inline-block;
      max-width: calc(100% - 5rem);
      font-size: 1.2rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1;
    }
    
    .date {
      font-size: 1rem;
      line-height: 1;
      
      svg {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }
}