@use "../../../scss/utils/const" as *;
@use "../../../scss/utils/mixin" as *;

.header {
  width: 100%;
  background-color: var(--color-bg-surface);
  border-bottom: 1px solid var(--color-border-default);
  
  &_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.4rem;
    width: 100%;
  }
  
  &_logo {
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    margin-right: .8rem;
    
    &_img {
      height: 3rem;
      width: auto;
    }
  }
  
  &_nav {
    ul {
      display: flex;
      align-items: center;
      gap: 2.4rem;
      
      a {
        font-weight: $fw-semiBold;
        color: var(--color-text-primary);
        display: inline-block;
        line-height: 6.8rem;
        transition: color $transition-time;
        position: relative;
        
        &::after {
          content: "";
          @include pseudo-element();
          bottom: .2rem;
          left: 0;
          width: 100%;
          height: .2rem;
          background-color: var(--color-primary);
          opacity: 0;
          transition: opacity $transition-time;
        }
        
        // &.active {
        //     &::after {
        //         opacity: 1;
        //     }
        // }
      }
    }
  }
  
  &_actions {
    display: flex;
    margin-left: auto;
    gap: 1.2rem;
    align-items: center;
    
    .lang {
      padding: 0 1.2rem;
      border-left: 1px solid var(--color-border-default);
      margin-right: 6rem;
    }
    
    .addProject {
      min-height: 3.2rem;
      padding: 0 1.6rem;
      gap: .4rem;
      
      .icon {
        fill: transparent;
        stroke: var(--color-gray-100);
      }
    }
    
    .account {
      padding: 0;
      border-radius: 50%;
      width: 3.2rem;
      min-height: 3.2rem;
      border-color: var(--color-border-strong);
      background-color: var(--color-bg-soft);
      
      span {
        font-size: 1.2rem;
        font-weight: $fw-semiBold;
      }
    }
  }
}