@use "../../../scss/utils/const" as *;
@use "../../../scss/utils/mixin" as *;

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.header {
  width: 100%;
  background-color: var(--color-bg-surface);
  border-bottom: 1px solid var(--color-border-default);
  
  &_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.4rem;
    width: 100%;
  }
  
  &_logo {
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    margin-right: .8rem;
    
    &_img {
      height: 3rem;
      width: auto;
    }
  }
  
  &_nav {
    ul {
      display: flex;
      align-items: center;
      gap: 2.4rem;
      
      a {
        font-weight: $fw-semiBold;
        color: var(--color-text-primary);
        display: inline-block;
        line-height: 6.8rem;
        transition: color $transition-time;
        position: relative;
        
        &::after {
          content: "";
          @include pseudo-element();
          bottom: .2rem;
          left: 0;
          width: 100%;
          height: .2rem;
          background-color: var(--color-primary);
          opacity: 0;
          transition: opacity $transition-time;
        }
      }
    }
  }
  
  &_actions {
    display: flex;
    margin-left: auto;
    gap: 3.2rem;
    align-items: center;
    position: relative;
    
    &_line {
      position: absolute;
      top: 50%;
      width: calc(100% - .2rem);
      left: .2rem;
      height: 1px;
      background: var(--color-border-default);
      overflow: hidden;
      
      &:before {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        left: -100%;
        background-image: conic-gradient(from var(--angle), red, blue, green, pink, yellow, aqua, red);
        animation: slideOut 6s ease-in-out infinite;
        opacity: .7;
      }
    }
    
    .lang {
      z-index: 1;
      position: relative;
    }
    
    .addProject {
      min-height: 3.6rem;
      padding: 0 1.6rem;
      gap: .4rem;
      position: relative;
      z-index: 1;
      overflow: hidden;
      border: 0;
      border-radius: .4rem;
      
      &::before {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        right: 1px;
        bottom: 1px;
        border-radius: .4rem;
        background: var(--color-bg-surface);
        z-index: 1;
        transition: all $transition-time;
      }
      
      @media (hover: hover) {
        &:hover {
          &::before {
            background-color: var(--color-gray-600);
            
            [data-theme="dark"] & {
              background-color: var(--color-gray-500);
            }
          }
        }
      }
      
      &_border {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        z-index: 0;
        border: 1px solid var(--color-border-default);
        border-radius: .4rem;
        
        &::after {
          content: "";
          position: absolute;
          height: calc(100% + .2rem);
          width: calc(100% + .2rem);
          top: 50%;
          border-radius: .4rem;
          left: 50%;
          translate: -50% -50%;
          background-image: radial-gradient(circle at 30% 30%, transparent, var(--color-border-default)),
          linear-gradient(var(--color-green), var(--color-border-default), var(--color-primary));
          animation: circleMove 6s linear infinite;
          z-index: 2;
        }
      }
      
      .icon {
        fill: transparent;
        stroke: var(--color-gray-100);
        position: relative;
        z-index: 2;
      }
    }
    
    .account {
      padding: 0;
      border-radius: 50%;
      width: 3.2rem;
      min-height: 3.2rem;
      height: 3.2rem;
      border-width: 0;
      border-color: var(--color-border-strong);
      background-color: var(--color-bg-surface);
      position: relative;
      z-index: 2;
      
      &_border {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        z-index: 0;
        
        &::after, &::before {
          content: "";
          position: absolute;
          height: calc(100% + .2rem);
          width: calc(100% + .2rem);
          padding: 3px;
          border-radius: 20px;
          top: 50%;
          left: 50%;
          translate: -50% -50%;
          background-image: conic-gradient(from var(--angle), red, blue, green, pink, yellow, aqua, red);
          animation: 5s rotate linear infinite;
        }
        
        &::before {
          opacity: 0.5;
          
          [data-theme="dark"] & {
            filter: blur(5px);
          }
        }
      }
      
      span {
        background-color: var(--color-bg-surface);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        font-size: 1.2rem;
        font-weight: $fw-semiBold;
        z-index: 1;
        transition: all $transition-time;
      }
      
      @media (hover: hover) {
        &:hover {
          span {
            background-color: var(--color-gray-600);
            
            [data-theme="dark"] & {
              background-color: var(--color-gray-500);
            }
          }
        }
      }
    }
  }
}

@keyframes rotate {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@keyframes slideOut {
  0%, 5% {
    transform: translateX(0);
  }
  36%, 56% {
    transform: translateX(200%);
  }
  78%, 100% {
    transform: translateX(0);
  }
}

@keyframes circleMove {
  0% {
    transform: translateX(-110%);
  }
  25% {
    transform: translateX(110%);
  }
  64% {
    transform: translateX(110%);
  }
  82% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(-110%);
  }
}