@use "../../../scss/utils/const" as *;
@use "../../../scss/utils/mixin" as *;

.formAddProject {
  width: 100%;
  position: relative;
  
  &_inner {
    width: 100%;
    padding: 3.2rem 4rem 11.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2.4rem 0;
    overflow-y: auto;
    max-height: 60vh;
    position: relative;
    @include vh-height(max, 9rem)
  }
  
  &_bottom {
    display: flex;
    justify-content: flex-end;
    gap: .8rem;
    width: 100%;
    padding: 2rem 4rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-bg-surface);
    border-top: 1px solid var(--color-border-default);
  }
}