@use "../../../scss/utils/mixin" as *;
@use "../../../scss/utils/const" as *;

.userContent {
  width: 100%;
  overflow-y: auto;
  @include vh-height(max, 8.1rem);
  
  .userInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .6rem;
    padding: 3rem 0;
    position: relative;
    
    .background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
      overflow: hidden;
      --stripes: repeating-linear-gradient(
          100deg,
          black 0%,
          black 7%,
          transparent 10%,
          transparent 12%,
          black 16%
      );
      
      --rainbow: repeating-linear-gradient(
          100deg,
          var(--color-blue) 5%,
          var(--color-green) 10%,
          var(--color-indigo) 15%,
          var(--color-mint) 20%,
          var(--color-blue) 30%
      );
      
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: var(--stripes), var(--rainbow);
        background-size: 400%, 200%;
        background-position: 50% 50%, 50% 50%;
        filter: blur(20px) brightness(.7);
        transform: scale(1.5) rotate(-5deg);
        animation: smoothBg 60s linear infinite;
      }
      
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-image: var(--stripes), var(--rainbow);
        background-size: 200%, 100%;
        animation: smoothBg 60s linear infinite;
        mask-image: radial-gradient(ellipse at 100% 0%, var(--color-bg-surface) 2%, transparent 100%);
        transform: scale(1.3) rotate(5deg);
        filter: blur(20px) brightness(.7);
        z-index: 1;
      }
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: blur(3px) brightness(0.7);
        transform: scale(1.1);
        display: none;
      }
    }
    
    .avatar {
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      position: relative;
      z-index: 1;
      margin-bottom: 2rem;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    
    .name {
      width: 100%;
      text-align: center;
      font-size: 2.2rem;
      line-height: $lh-120;
      font-weight: $fw-semiBold;
      position: relative;
      z-index: 1;
      color: var(--color-static-white);
    }
    
    .email {
      width: 100%;
      text-align: center;
      font-size: 1.4rem;
      line-height: $lh-120;
      font-weight: $fw-light;
      color: var(--color-static-white);
      opacity: .7;
      position: relative;
      z-index: 1;
    }
  }
}

.noUser {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 2.4rem;
  
  span {
    color: var(--color-text-muted);
    font-size: 1.8rem;
  }
  
  svg {
    fill: var(--color-text-muted);
  }
}

.actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid var(--color-border-default);
  
  .submit {
    width: 100%;
  }
}

@keyframes smoothBg {
  from {
    background-position: 50% 50%, 50% 50%;
  }
  to {
    background-position: 350% 50%, 350% 50%;
  }
}