@use "../../../scss/utils/mixin" as *;
@use "../../../scss/utils/const" as *;

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include vh-height(h);
  background-color: var(--color-bg-subtle);
  
  &_wrapper {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
    border-radius: 1.6rem;
    background-color: var(--color-bg-surface);
    max-width: 47.3rem;
    height: auto;
    padding: 6.4rem;
  }
  
  &_caption {
    font-size: 2rem;
    font-weight: $fw-semiBold;
    color: var(--color-text-high);
  }
  
  &_logo {
    display: flex;
    justify-content: center;
    
    img {
      width: 4.8rem;
      height: auto;
    }
  }
  
  &_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    
    .formField {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: .8rem;
    }
    
    .formSubmit {
    
    }
  }
}