@use "../../../scss/utils/mixin" as *;

.todoList {
  width: 100%;
  padding: 2rem;
  overflow-y: auto;
  height: 100%;
  @include vh-height(max, 12.9rem);
  
  &_nav {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: .4rem;
    background-color: var(--color-bg-soft);
    padding: .4rem;
    gap: .4rem;
    
    .button_nav {
      width: 50%;
      min-height: 3.2rem;
      border: 1px solid transparent;
      border-radius: .4rem;
      
      &_active {
        background-color: var(--color-bg-surface);
      }
    }
  }
  
  &_body {
    height: calc(100% - 4rem);
    
    &_empty {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      justify-content: center;
      min-height: 100%;
      color: var(--color-gray-300);
      padding: 5rem 0;
      
      .no_results_icon {
        fill: var(--color-gray-300);
      }
    }
  }
}

.modalActions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid var(--color-border-default);
  
  .submit {
    width: 100%;
  }
}