.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-image: url("./preloader.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.b {
  background-size: 80px;
}

.m {
  background-size: 60px;
}

.sm {
  background-size: 40px;
}

.s {
  background-size: 20px;
}

.overflow {
  background-color: var(--color-bg-surface);
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.alpha {
  background-color: var(--color-bg-subtle);
  opacity: .8;
}

.color {
  background-color: var(--color-bg-subtle);
}

.text {
  color: var(--color-text-primary);
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .7;
  font-size: 1.2rem;
}