.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-image: url("./preloader.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.b {
  background-size: 200px;
}

.m {
  background-size: 140px;
}

.sm {
  background-size: 100px;
}

.s {
  background-size: 60px;
}

.overflow {
  background-color: var(--bg-gray4);
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.alpha {
  background-color: var(--bg-gray4);
  opacity: .8;
}

.color {
  background-color: var(--bg-gray);
}